@media (max-width: 768px) {
.bg-white{
  background: white!important;
}

#div-competences{
  width: 100%;
}

.photo-formation{
  padding-top :200px;
}

#div-formation{
  background: white!important;
}

.d-none{
  display: none !important;
}

.bg-mobile-gradient{
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3)!important;
}

.shadow-mobile{  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
}
