@media (max-width: 768px) {
.width100mobile{
  width: 100%;
}

.left-mobile{
  left:0px!important;
}

.margin-left-0{
  margin-left: 0px!important;
}
.sizepolicetitle60{
  font-size: 60px!important;
}
.sizepolicetitle30{
  font-size: 30px!important;
}

.sizepolicetitle20{
  font-size: 20px!important;
}
.blue-mobile{
  color: #00204A
}

.display-none{
  display: none;
}
#div-competences{
  top: -128px;
background-color: rgba(0, 87, 146 ,0);
}

#div-formation{
  top: 70px;
}

.bg-transparent{
  background-color: rgba(0, 87, 146 ,0);
}

#ctn-1{
  padding-top: 80px;
}

.title-formation{
  text-align: left;
}

.bg-formation{
margin-left: 0px;
}
#div-formation{
  left:0!important;
}

#filtre-img3{
  width: 100% !important;
  left: 0px !important;
  top: 110px;
  height: 100%;
}

#ctn-2{
  padding-top: 200px;
}

.center{
  text-align: center;
}

.pt-mobile-30{
  padding-top: 40px;
}
.fa-linkedin{
  margin-left: 0px!important;
  padding-left: 0px!important;
}

.wave{
  display: none;
}
}
